# Ignore node_modules folder
node_modules/

# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE/Editor files
.idea/
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db
